@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tippy.js/dist/tippy.css';

@layer base {
    body{
        @apply font-Arial m-0 p-0 bg-[#f1f1f1];
    }
    .container-fluid{
        @apply px-4 max-w-full;
    }

}
@layer components {
    .color-lists .list:nth-child(5), .color-lists .list:nth-child(6), .color-lists .list:nth-child(7),.color-lists .list:nth-child(8), .color-lists .list:nth-child(9){
        @apply text-white;
    }
    .color-lists .list:nth-child(1), .color-lists .list:nth-child(2),.color-lists .list:nth-child(3), .color-lists .list:nth-child(4){
        @apply text-black;
    }
    .grid .tippy-box .tippy-content{
        @apply p-1;
    }
    input{
        @apply text-black;
    }
    input:focus-visible{
        @apply outline-0;
    }
    .copy-tooltip{
        background: #21be21;
    }
    .copy-tooltip .tippy-arrow{
        color: #21be21;
    }
}